{% extends 'dashboard/base/index.html' %}

{% block title %} Feature {% endblock %}
{% block sub_title %} Features {% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-7 col-sm-8 col-xs-12">
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12" style="text-align: right;" >
          <form method="GET" url="{% url 'dashboard:request-demo-list' %}" style="width: 100%; display:flex; justify-content:space-between; gap:5px; align-items:center; margin-bottom:10px;">
            <input type="text" name="search" class="form-control" placeholder="Search" value="{{request.GET.search|default:''}}">    
            <button type="submit" class="ic-search" ></button>
          </form>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12" style="text-align: right;" >
          <div style="display:flex; justify-content:right; padding-bottom:10px;">
            <a class="btn btn-primary btn-icon" href="{% url 'dashboard:feature-general-detail-create' %}">
              <span class="ic-add"></span>New Feature</a>
          </div>
        </div>
      </div>
      
      <div class="table-responsive">
        <table class="table table-02 mb-3 d-xl-table">
          <thead>
            <tr>
              <th>S.N.</th>
              <th>Title</th>
              <th>Feature Type</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
              {% for feature in object_list %}
            <tr>
              <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
              <td>{{ feature.title }}</td>
              <td><span class='badge badge-light'>{{ feature.get_feature_type_display }}</span></td>
              <td class="text-left">
                <a class="mr-2 text-coolGray600" href="{% url 'dashboard:feature-detail' feature.pk %}" title="View">
                  <i class="ic-show"></i>
                </a>
                <a
                  class="mr-2 text-coolGray600"
                  href="{% url 'dashboard:feature-general-detail-update' feature.pk %}"
                  title="Edit">
                  <i class="ic-edit"></i>
                  </a>
                  
                <a class="text-coolGray600 delete-link" href="{% url 'dashboard:feature-delete' feature.pk %}" title="Delete"
                  ><i class="ic-delete-filled"></i></a>
              </td>
            </tr>
            {% endfor %}
          
          </tbody>
        </table>
        {% include 'dashboard/base/pagination.html' %}
      </div>
    </div>
  </div>
{% endblock %}