
{% extends 'user/base/index.html' %}
{% block title %} Leave Request {% endblock %}
{% block content %}
<div class="container">
  <h3> Leave Request </h3>
  {{request.user}}
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label>{{ field.label }} {% if field.field.required %}<span style="color:red;">*</span>{% endif %} </label>
        {{field}}
      </div>
      <span class="errors mb-2" style="color:red;">{{ field.errors|striptags|safe }}</span>
    {% endfor %}
    <input class="submit mt-2" type="submit" value="Apply">

   </form>
</div>
    {% endblock %}
  