
{% extends 'user/base/index.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="container">
  <h3> Login </h3>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label>{{ field.label }} {% if field.field.required %}<span style="color:red;">*</span>{% endif %} </label>
        {{field}}
      </div>
    {% endfor %}
    <span class="errors mb-2" style="color:red;">{{ form.non_field_errors|striptags|safe }}</span>

    <div>
    <input class="submit mt-2" type="submit" value="Login">
    </div>
  </form>
  
</div>
    {% endblock %}
  