
{% extends 'user/base/index.html' %}
{% block title %} Register {% endblock %}
{% block content %}
<div class="container">
  <h3> Register </h3>
  <form method="post">
    {% csrf_token %}
    {% for field in user_form %}
      <div class="form-group">
        <label>{{ field.label }} {% if field.field.required %}<span style="color:red;">*</span>{% endif %} </label>
        {{field}}
      </div>
      <span style="color:red;">{{ field.errors|striptags|safe }}</span>
    {% endfor %}
    {% for field in official_detail %}
      <div class="form-group">
        <label>{{ field.label }} {% if field.field.required %}<span style="color:red;">*</span>{% endif %} </label>
        {{field}}
      </div>
      <span class="errors mb-2" style="color:red;">{{ field.errors|striptags|safe }}</span>
    {% endfor %}

    <input class="submit mt-2" type="submit" value="Register">
  </form>
  
</div>
    {% endblock %}
  